################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PhoneBook.Core/bin/Debug/net9.0
/PhoneBook.Core/obj
/PhoneBook.DataAccess/bin/Debug/net9.0
/PhoneBook.DataAccess/Migrations
/PhoneBook.DataAccess/obj/Debug/net9.0
/PhoneBook.DataAccess/obj
/PhoneBook.Domain/bin/Debug/net9.0
/PhoneBook.Domain/obj
/PhoneBook.Presentation/bin/Debug/net9.0
/PhoneBook.Presentation/Logs
/PhoneBook.Presentation/obj
/PhoneBook.Presentation/appsettings.Development.json
/.gitignore
/.gitignore
